# database connection URI
DATABASE_URL="sqlite:./sqlite.db?mode=rwc"
# listen port
PORT=3645
# URL for nitter instances
NITTER_INSTANCELIST="https://github.com/zedeus/nitter/wiki/Instances"
# relevant for CORS
SITE_URL="http://localhost"
# seconds between instance ping checks
INSTANCE_PING_INTERVAL_S=300
# interval for fetching the instances from the wiki
INSTANCE_LIST_INTERVAL_S=900
# path used for checking account availability
PROFILE_PATH="/jack"
# path used for checking RSS availability
RSS_PATH="/jack/rss"
# about page
ABOUT_PATH="/about"
# regex content to search for to verify the profile
PROFILE_CONTENT='jack.?\(@jack\)'
# regex content to search for to verify RSS availability
RSS_CONTENT='<rss xmlns\:atom'
# additional instances to include always
ADDITIONAL_HOSTS="https://nitter.net"
# Referer to use for requests
REFERER="https://localhost"
# Ping AVG period in hours
PING_RANGE_H="3"
# enable/disable startup scanning
DISABLE_STARTUP_SCAN=false
# don't emit errors when re-checking offline hosts
AUTO_MUTE=true
# branch to use for fetching the latest nitter commit
ORIGIN_SOURCE_GIT_BRANCH="master"
# URL to use for fetching the latest nitter commit
ORIGIN_SOURCE_GIT_URL="https://github.com/zedeus/nitter.git"