{# SPDX-License-Identifier: AGPL-3.0-only #}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="" />
    <title>About Nitter Instance Health</title>
  </head>
  <body>
    <div class="container">
    <h1>Nitter instance uptime & health tracker</h1>
    <p><a href="/">Home</a></p>
    <p id="update-interval">Uptime check interval: {{uptime_interval_s}}s.</p>
    <p>Instance re-fetching interval, including RSS & version check: {{wiki_interval_s}}s.</p>
    <p>Fetched latest commit: {{latest_commit}}</p>

    <p>The following paths are checked per instance:</p>
    <ul>
      {%- for path in checked_paths %}
        <li><code>{{path}}</code></li>
      {%- endfor %}
    </ul>

    <p>
      <h4>Table Explanations</h4>
      <ul>
        <li><code>Country</code> for the host country reported in the instance wiki.</li>
        <li><code>Healthy</code> stands for hosts which are reachable and pass a content check. Known bad hosts are marked with a ❓, these instances block healthchecks.</li>
        <li><code>Average Time</code> is the response time average over the last {{ping_avg_interval_h}} hours. This is not a network ping.</li>
        <li><code>All Time %</code> for all time percentage of the instance being healthy.</li>
        <li><code>RSS</code> whether the host has RSS feeds enabled.</li>
        <li><code>LSH</code> Last Seen Healthy, for the last time an instance was seen healthy.</li>
        <li><code>Nitter Version</code> which nitter version the host reports.</li>
        <li><code>Connectivity</code> the IP connectivity support. One of All, IPv4, IPv6</li>
        <li><code>Points</code> is a weighted instance score based on the availability over the last 3h, 30 and 120 days, together with the version.</li>
      </ul>
    </p>

    <p>Settings for visible columns are stored locally per client.</p>

    <p id="api">
      <h4>API</h4>
      The same data as visible in the website/table can also be fetched as JSON from <code>/api/v1/instances</code> (<a rel="nofollow" href="/api/v1/instances">link</a>).
      Note that the data only changes in the intervals stated <a href="#update-interval">above</a>. Thus requesting it very often will get you rate limited.
    </p>
    <p>
      Please <b>do not use instances listed here for scraping(<a rel="nofollow" href="https://en.wikipedia.org/wiki/Web_scraping">?</a>) !</b>
      Instead <a href="https://github.com/zedeus/nitter/#docker">host your own</a> nitter instance, so public instances can be used by less tech savy people and not get overrun by you. You can get help with that at the listed matrix channel.
    </p>
    <p>The purpose of this API is to serve services like Twiiit, Farside or people looking for indication that their RSS feed is down - but not scrapers. Scraping will bring the downfall of public instances.</p>

    <p><a rel="nofollow" href="https://github.com/0xpr03/nitter-status">Sourcecode</a></p>
    <p>License: AGPL3</p>
  </body>
</html>
