{# SPDX-License-Identifier: AGPL-3.0-only #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Nitter Instance Health</title>
  </head>
  <body>
    <div class="container">
    <h1>Nitter instance uptime & health tracker</h1>
    <p><a href="/">Home</a></p>
    <p>Uptime check interval: {{uptime_interval_s}}s.</p>
    <p>Instance re-fetching interval, including RSS & version check: {{wiki_interval_s}}s.</p>
    <p>Fetched latest commit: {{latest_commit}}</p>

    <p>The following paths are checked per instance:</p>
    <ul>
      {%- for path in checked_paths %}
        <li><code>{{path}}</code></li>
      {%- endfor %}
    </ul>

    <p>The same data can also be fetched as JSON from <code>/api/v1/instances</code></p>

    <p>Explanations</p>
    <ul>
      <li><code>Healthy</code> stands for hosts which are reachable and pass a content check. Known bad hosts are marked with a ❓, these instances block healthchecks.</li>
      <li><code>Response Time</code> is the response time over the last {{ping_avg_interval_h}} hours. This is not a network ping.</li>
      <li><code>Average</code> is the time average over the last {{ping_avg_interval_h}} hours.</li>
      <li><code>RSS</code> whether the host has RSS feeds enabled.</li>
      <li><code>Version</code> which nitter version the host reports.</li>
      <li><code>Points</code> is a weighted instance score based on the availability over the last 3h, 30 and 120 days, together with the version.</li>
    </ul>

    <p>Table settings are stored locally per client.</p>

    <p><a rel="nofollow" href="https://github.com/0xpr03/nitter-status">Sourcecode</a></p>
    <p>License: AGPL3</p>
  </body>
</html>