{# SPDX-License-Identifier: AGPL-3.0-only #}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="" />
    <title>Admin Interface</title>
  </head>
  <body>
    <div class="container">
    <h1>Admin Interface</h1>
    <p><a href="/admin/logout">Logout</a> <a href="/admin/login">Add more instances</a></p>
    
    <h4>Instances</h4>
    {% if is_admin %}<p class="text-danger-emphasis">Admin mode.</p>{% endif %}
    <div class="table-responsive">
      <table id="status-tbl" class="table sortable table-hover table-sm">
      <thead>
          <tr>
          <th scope="col">Instance</th>
          </tr>
      </thead>
      <tbody>
        {% for instance in instances -%}
        <tr>
          <td>{{instance.domain}}</td>
          {# <td><a href="/admin/history/{{instance.id}}">History</a></td> #}
          <td><a href="/admin/errors/{{instance.id}}">Errors</a></td>
        </tr>
        {%- endfor %}
      </tbody>
      </table>
    </div>

    <p>License: AGPL3</p>
  </body>
</html>
