    <style>
      .dygraph-annotation {
        height: auto !important;
      }

      .dygraph-axis-label {
        color: white;
      }

      .dygraph-legend {
        background-color: #101015;
      }
    </style>
