{# SPDX-License-Identifier: AGPL-3.0-only #}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="" />
    <title>{{TITLE}}</title>
  </head>
  <body>
    <div class="container">
        <h1>{{TITLE}}</h1>
        <p>{{ERROR_INFO}}</p>
        <p><a href="{{URL_BACK}}">Back</a></p>
    </div>
  </body>
</html>
