{# SPDX-License-Identifier: AGPL-3.0-only #}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="" />
    <title>Admin Interface</title>
  </head>
  <body>
    <div class="container">
    <h1>Admin Interface</h1>
    <p><a href="/admin">Overview</a> <a href="/admin/logout">Logout</a> <a href="/admin/login">Add more instances</a></p>
    
    <h4>Last errors from {{HOST_DOMAIN}}</h4>
    <div id="chart">
      
    </div>

    <p>License: AGPL3</p>
    <script src="/static/overview_admin.js"></script>
    <script src="/static/chart.min.js"></script>
  </body>
</html>
